/* Custom CSS to override PaperMod defaults */

/* Restrict the size of the cover image in posts */
.entry-cover img {
    max-width: 100%;
    max-height: 400px; /* Ajuste este valor conforme necessário */
    width: auto;
    margin: 0 auto;
    display: block;
    object-fit: cover; /* Garante que a imagem preencha o espaço sem distorcer se necessário */
}

/* Custom header styling to subtly distinguish it from the body */
header .nav {
    border-bottom: 1px solid var(--border); /* Subtle bottom border using theme's border color */
    padding-top: 10px; /* Maintain good padding */
    padding-bottom: 10px; /* Maintain good padding */
    background-color: var(--entry); /* Use entry background for subtle distinction */
}

/* Typography adjustments */
body {
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
