/* Custom CSS to override PaperMod defaults */

/* Restrict the size of the cover image in posts */
.entry-cover img {
    max-width: 100%;
    max-height: 400px; /* Ajuste este valor conforme necessário */
    width: auto;
    margin: 0 auto;
    display: block;
    object-fit: cover; /* Garante que a imagem preencha o espaço sem distorcer se necessário */
}
